@model OpslagViewModel
@{
    ViewBag.Title = "Opslag";
}
<h2>Opslag</h2>

@using (Html.BeginForm("Opslag", "Persoon", FormMethod.Post)){
    @Html.LabelFor(m => m.VanWedde)
    @Html.ValidationMessageFor(m => m.VanWedde, "*")
    @Html.TextBoxFor(m => m.VanWedde)
    @Html.LabelFor(m => m.TotWedde)
    @Html.ValidationMessageFor(m => m.TotWedde, "*")
    @Html.TextBoxFor(m => m.TotWedde)
    @Html.LabelFor(m => m.Percentage)
    @Html.ValidationMessageFor(m => m.Percentage, "*")
    @Html.TextBoxFor(m => m.Percentage)
    <input type="submit" value="Weddeverhoging doorvoeren" />
    @Html.ValidationSummary("Er zijn validatiefouten:")
}

